/* Breadcrups CSS */

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 1px;
    padding: 10px 10px 10px 30px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:last-child:after {
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #e8cd00;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #e8cd00;
}

.roundClass {
    padding: 7px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

.box {
    background-color: #fff;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    // min-height: 120px !important;
    min-width: 120px !important;
    // height: 120px !important;
    width: 120px !important;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ccc !important;
    // -webkit-box-shadow: 0px 13px 50px -15px #f1f1f1;
    // -moz-box-shadow: 0px 13px 50px -15px #f1f1f1;
    // box-shadow: 0px 13px 50px -15px #f1f1f1;
}

.boxSelection {
    background-color: #8157f4;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 0px !important;
    // min-height: 120px !important;
    min-width: 120px !important;
    // height: 120px !important;
    width: 120px !important;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    // -webkit-box-shadow: 0px 13px 50px -15px rgba(129, 87, 244, 1);
    // -moz-box-shadow: 0px 13px 50px -15px rgba(129, 87, 244, 1);
    // box-shadow: 0px 13px 50px -15px rgba(129, 87, 244, 1);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #8157f4 radial-gradient(circle, transparent 1%, #8157f4 1%) center/15000%;
}

.ripple:active {
    background-color: #290881;
    background-size: 100%;
    transition: background 0s;
}

// Arrow Css
.time-box {
    width: 60px !important;
    height: 60px !important;
    background-color: #E3D925 !important;
    border-radius: 10px !important;
    text-align: center !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 500;
    border: 1px solid #f1f1f1;
    padding: 21px !important;
    -webkit-box-shadow: 0px 13px 74px -15px #E3D925;
    -moz-box-shadow: 0px 13px 74px -15px #E3D925;
    box-shadow: 0px 13px 74px -15px #E3D925;
}

.time-type-box {
    width: 60px !important;
    height: 60px !important;
    background-color: #E3D925 !important;
    border-radius: 10px !important;
    text-align: center !important;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 500;
    border: 1px solid #f1f1f1;
    padding: 20px 18px 18px 18px !important;
    -webkit-box-shadow: 0px 13px 74px -15px #E3D925;
    -moz-box-shadow: 0px 13px 74px -15px #E3D925;
    box-shadow: 0px 13px 74px -15px #E3D925;
}

.nav {
    margin-top: 40px;
}

.pull-right {
    float: right;
}

a,
a:active {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}


/* Breadcrups CSS */

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 1px;
    padding: 10px 10px 10px 30px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:last-child:after {
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #e8cd00;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #e8cd00;
}

.divHList {
    width: 100%;
    margin: 10px;
    overflow-x: scroll;
    display: flex;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

 ::selection {
    color: white;
    background: #d2d0d9;
}

.content {
    display: flex;
}

.arrow {
    align-self: center;
    // margin: 0 1em 0 1em;
    color: #d8cdf6;
    font-size: 35px;
    cursor: pointer;
    transition: color .25s linear;
}

.arrow:hover {
    color: #7a6ba3;
}

.grayIcon {
    font-size: 28px !important;
    color: #d4d4d4;
}

.yellowIcon {
    font-size: 28px !important;
    color: #000;
}

.grayText {
    color: #d4d4d4;
}

.blackText {
    color: #000;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.fullheight {
    height: 80%;
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}