<ion-content>
    <div class="container">
        <div class="center padding24">
            <div style="height: 35% !important;" class="div-center">
                <div class="center-align tabButtonFont font-size-e-large-landing 
                text-color-primary">Welcome to </div>
                <div><img src="/assets/imgs/logo.png" class="mt-20" /></div>
            </div>
            <div style="height: 50% !important;" class="div-center"><img src="/assets/imgs/factory.svg" /></div>
            <div style="height: 15% !important;" class="div-center">
                <div id="outer">
                    <div id="inner">
                        <ion-item lines="none" class="btn-landing tabButtonFont font-size-button" [routerLink]="['/login']" detail="false" mode='ios'>
                            <ion-label class="tabButtonFont btn-label" style="text-align: start;">
                                Continue
                            </ion-label>
                            <ion-icon name="arrow-forward-outline" style="font-size: 16px !important;" slot="end"></ion-icon>
                        </ion-item>
                    </div>
                </div>

            </div>
        </div>

    </div>
</ion-content>