<ion-content>
    <div class="container">
        <div class="center padding24">
            <div style="height: 20% !important;" class="div-center">
                <div><img src="/assets/imgs/logo.png" /></div>
            </div>
            <div style="height: 40% !important;" class="div-center"><img src="/assets/imgs/get-started.png" style="max-width: 90% !important;" /></div>

            <div style="height: 25% !important;" class="div-center">
                <div class="center-align tabButtonFont font-size-e-large 
              text-color-primary">Let's Get Started </div>
                <div class="center-align tabButtonFont font-size-content 
              text-color-primary mt-10">MISafe is safety management system <br>which helps in conducting paperless safety reporting.</div>
            </div>

            <div style="height: 15% !important;" class="div-center">
                <div id="outer">
                    <div id="inner">
                        <ion-item lines="none" detail="false">
                            <ion-button shape="round" fill="outline" class="btn-getstarted tabButtonFont font-size-button" (click)="loadHomePage()">
                                <ion-item class="itemBG" lines="none" detail="false">
                                    <ion-label class="tabButtonFont btn-label">
                                        Continue
                                    </ion-label>
                                    <ion-icon name="arrow-forward-outline" style="font-size: 16px !important;color: #E9CD00 !important;" slot="end"></ion-icon>
                                </ion-item>
                            </ion-button>

                        </ion-item>
                    </div>
                </div>

            </div>
        </div>

    </div>
</ion-content>