.center {
    width: 100% !important;
    height: 100% !important;
    text-align: center !important;
    margin: 0;
}

.div-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

ion-content {
    // --background: url('/assets/imgs/Landing.png') no-repeat cover fixed center;
    // background: url('/assets/imgs/Landing.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.btn-label {
    text-align: start !important;
    color: #E9CD00 !important;
}

#inner {
    display: table;
    margin: 0 auto;
    width: 80% !important;
}

#outer {
    width: 100%
}

.btn-getstarted {
    width: 100% !important;
    height: 44px !important;
    --background: #f5f3e2 !important;
    --box-shadow: none !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.77;
    letter-spacing: 0.52px;
    text-align: center;
    color: #E9CD00 !important;
    --border-radius: 25px !important;
    --border-color: #E9CD00 !important;
    --border-width: 1px !important
}

.itemBG {
    // --background: #f5f3e2 !important;
    --background: transparent !important;
    width: 100% !important;
}