<ion-header>
    <ion-toolbar class="ionToolbar" mode="md">
        <ion-buttons>
            <ion-title>
                <p class="margin10 text-color-black font-size1-heading lightFont" style="text-align: center !important;">Inspection</p>
            </ion-title>
        </ion-buttons>

        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div *ngIf="!is_list">
        <ion-list>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div style="display: none;overflow-x: scroll;margin-top: 10px;">
        <div *ngFor="let item of checklistCat">
            <div class="catCss">
                {{item.cat_name}}
            </div>
        </div>
    </div>

    <div *ngIf="is_list">
        <div>
            <div style="margin-left: 10px !important;margin-right: 10px !important;margin-top: 10px !important;">
                <ion-segment style="height: 35px;" mode="ios" (ionChange)="segmentChanged($event)" value="ck_list">
                    <ion-segment-button value="ck_list">
                        <ion-label class="tabButtonFont font-size-input">Inspections</ion-label>
                    </ion-segment-button>

                    <!-- --padding-end:2px !important;--padding-start:2px !important; -->
                    <ion-segment-button value="in_com" style="width: 20px;">
                        <ion-label class="tabButtonFont font-size-input">In-progress/Complete</ion-label>
                    </ion-segment-button>
                    <!-- <ion-segment-button value="not_s">
                        <ion-label class="tabButtonFont font-size-content">Not submitted</ion-label>
                    </ion-segment-button> -->

                </ion-segment>
            </div>
            <!-- <div *ngIf="segmentModel === 'not_s'">
                <div class="text-color-primary font-size-heading headingFont" style="text-align: center !important;margin-top: 50px !important;">Inspections not available.</div>
            </div> -->
            <div *ngIf="segmentModel === 'ck_list'">
                <div class="text-color-primary font-size-heading headingFont" style="text-align: center !important;margin-top: 50px !important;" *ngIf="!checklistDPH && !checklistWPH && !checklistFPH && !checklistMPH">Inspections yet not Assigned.</div>
                <div *ngIf="geListLength()">
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistDPH">
                            <span style="padding-left: 16px;">Daily {{getdateByTD(1) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistD let i=index">
                            <div *ngIf="item['percent'] == 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div class="progressCircleP">
                                                <ion-label>{{item['percent']}}%</ion-label>
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p class="font-size-content lightFont statusCSSPending" style="width:30%;">Pending</p>

                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'])">View Report</p> -->
                                <hr *ngIf="i!=checklistD.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 10px;margin-bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistWPH">
                            <span style="padding-left: 16px;">Weekly {{getdateByTD(7) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistW let i=index">
                            <div *ngIf="item['percent'] == 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item[ 'checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div class="progressCircleP">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p class="font-size-content lightFont statusCSSPending" style="width:30%;">Pending</p>

                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'])">View Report</p> -->
                                <hr *ngIf="i!=checklistW.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 5px;margin-bottom: 5px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistFPH">
                            <span style="padding-left: 16px;">Fortnightly {{getdateByTD(15) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistF let i=index">
                            <div *ngIf="item['percent'] == 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div class="progressCircleP">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p class="font-size-content lightFont statusCSSPending" style="width:30%;">Pending</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item['checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistF.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 10px;margin-bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistMPH">
                            <span style="padding-left: 16px;">Monthly {{getdateByTD(30) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistM let i=index">
                            <div *ngIf="item['percent'] == 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div class="progressCircleP">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p class="font-size-content lightFont statusCSSPending" style="width:30%;">Pending</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistM.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 5px;margin-bottom: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------** CP **-----------------------  -->
            <div *ngIf="segmentModel === 'in_com'">
                <div class="text-color-primary font-size-heading headingFont" style="text-align: center !important;margin-top: 50px !important;" *ngIf="!checklistDCPH && !checklistWCPH && !checklistFCPH && !checklistMCPH">Inspections yet not submitted.</div>
                <div *ngIf="geListLength()">
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistDCPH">
                            <span style="padding-left: 16px;">Daily {{getdateByTD(1) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistD let i=index">
                            <div *ngIf="item['percent'] > 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div *ngIf="99 > item['percent']  && item['percent'] > 0" class="progressCircleIP">
                                                {{item['percent']}}%
                                            </div>
                                            <div *ngIf="item['percent'] == 100" class="progressCircleC">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p *ngIf="item['percent'] == 100" class="font-size-content lightFont statusCSSCompleted" style="width:30%;">Completed</p>
                                            <p *ngIf="99 > item['percent']  && item['percent'] > 0" class="font-size-content lightFont statusCSSInP" style="width:30%;">In Progress</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistD.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 10px;margin-bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistWCPH">
                            <span style="padding-left: 16px;">Weekly {{getdateByTD(7) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistW let i=index">
                            <div *ngIf="item['percent'] > 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div *ngIf="99 > item['percent']  && item['percent'] > 0" class="progressCircleIP">
                                                {{item['percent']}}%
                                            </div>
                                            <div *ngIf="item['percent'] == 100" class="progressCircleC">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p *ngIf="item['percent'] == 100" class="font-size-content lightFont statusCSSCompleted" style="width:30%;">Completed</p>
                                            <p *ngIf="99 > item['percent']  && item['percent'] > 0" class="font-size-content lightFont statusCSSInP" style="width:30%;">In Progress</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed' && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistW.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 5px;margin-bottom: 5px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistFCPH">
                            <span style="padding-left: 16px;">Fortnightly {{getdateByTD(15) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistF let i=index">
                            <div *ngIf="item['percent'] > 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div *ngIf="99 > item['percent']  && item['percent'] > 0" class="progressCircleIP">
                                                {{item['percent']}}%
                                            </div>
                                            <div *ngIf="item['percent'] == 100" class="progressCircleC">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p *ngIf="item['percent'] == 100" class="font-size-content lightFont statusCSSCompleted" style="width:30%;">Completed</p>
                                            <p *ngIf="99 > item['percent']  && item['percent'] > 0" class="font-size-content lightFont statusCSSInP" style="width:30%;">In Progress</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item[ 'checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistF.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 10px;margin-bottom: 10px;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class=" lightFont font-size-heading headerCss" *ngIf="checklistMCPH">
                            <span style="padding-left: 16px;">Monthly {{getdateByTD(30) | uppercase}}</span>
                        </div>
                        <div *ngFor="let item of checklistM let i=index">
                            <div *ngIf="item['percent'] > 0 && isNotSelfAssign(item['emp_id'],item['is_filled'])">
                                <ion-item lines="none" (click)="openCheckList(item['checklist_id'],item,item['percent'],item['id'])">
                                    <div style="display: flex !important;width:100%;">
                                        <div slot="start">
                                            <div *ngIf="99 > item['percent']  && item['percent'] > 0" class="progressCircleIP">
                                                {{item['percent']}}%
                                            </div>
                                            <div *ngIf="item['percent'] == 100" class="progressCircleC">
                                                {{item['percent']}}%
                                            </div>
                                        </div>
                                        <ion-label style="margin-top: 12px;margin-left: 8px;width:100%;">
                                            <p class="font-size-heading headingFont" style="color: #455A64 !important;">{{item['name']}}</p>
                                            <p class="font-size-content lightFont" style="color: #502e2e !important;"> {{item['cat_name']}} - {{item['emp_name']}}</p>
                                            <p *ngIf="item['percent'] == 100" class="font-size-content lightFont statusCSSCompleted" style="width:30%;">Completed</p>
                                            <p *ngIf="99 > item['percent']  && item['percent'] > 0" class="font-size-content lightFont statusCSSInP" style="width:30%;">In Progress</p>
                                        </ion-label>
                                    </div>
                                </ion-item>
                                <!-- <p *ngIf="getCurrentStatus(item['percent']) == 'Completed'  && getUserRole() != 'user' " class="font-size-input headingFont actionCss" (click)="openCheckListReport(item['checklist_id'],item,item,item['percent'])">View Report</p> -->
                                <hr *ngIf="i!=checklistM.length-1" style="background: #e8e7e7;margin-left: 16px;margin-top: 5px;margin-bottom: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>