.doneCss {
    margin: 0px !important;
    text-align: end;
    color: #0f5def;
    padding-right: 16px !important;
}

.shareCss {
    margin: 4px;
    text-align: center;
    border: 1px solid #2361d4;
    padding: 12px;
    border-radius: 5px;
}

.itemCss {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}