<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon class="TabBarIcon page-heading-text-color" slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title style="padding: 0px !important;">
            </ion-title>
        </ion-buttons>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" *ngIf="isSendOTP">
        <div class="center">
            <div style="height: 85% !important;  width: 100% !important;" class="div-center">
                <div style="width: 100% !important;">
                    <img src="/assets/imgs/email.png" style="max-width: 100% !important;" />
                    <div style="margin-top: 40px;">
                        <ion-label class="font-size-heading tabButtonFont text-color-primary">Please enter your email here</ion-label>
                    </div>
                    <form mode="md" class="mt-20" name="register" (ngSubmit)="sendOTPOnMail(register)" #register="ngForm" novalidate autocomplete="off">

                        <ion-item mode="md">
                            <ion-label mode="md" class="font-size-input tabButtonFont text-color-gray" position="floating">Email ID </ion-label>
                            <ion-input mode="md" class="font-size-input textfont" autocomplete="off" type="email" placeholder="" [(ngModel)]="login.email" name="email" #email="ngModel" required></ion-input>
                            <ion-icon mode="md" name="mail-outline" slot="start" class="inputIconCss"></ion-icon>

                        </ion-item>
                        <div class="error-container" *ngIf="register.submitted && register.form.controls.email.status == 'INVALID'">
                            <p class="error" *ngIf="register.form.controls.email.errors.required">This field is required.</p>
                        </div>
                    </form>
                </div>
            </div>
            <div style="height: 15% !important;" class="div-center">
                <div id="outer">
                    <div id="inner">
                        <ion-item lines="none" detail="false">
                            <ion-button shape="round" fill="outline" class="btn-getstarted tabButtonFont font-size-button" (click)="register.ngSubmit.emit()">
                                <ion-item class="itemBG" lines="none" detail="false">
                                    <ion-label class="tabButtonFont btn-label">
                                        Send OTP
                                    </ion-label>
                                    <ion-icon name="arrow-forward-outline" style="font-size: 16px !important;color: #E9CD00 !important;" slot="end"></ion-icon>
                                </ion-item>
                            </ion-button>

                        </ion-item>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container" *ngIf="!isSendOTP">
        <div class="center">
            <div style="height: 85% !important;  width: 100% !important;" class="div-center">
                <div style="width: 100% !important;">
                    <img src="/assets/imgs/r_p.png" style="max-width: 80% !important;" />
                    <div style="margin-top: 40px;">
                        <ion-label class="font-size-heading tabButtonFont text-color-primary">Please enter OTP and new password.</ion-label>
                    </div>
                    <form mode="md" class="mt-20" name="verifyOTP" (ngSubmit)="sendOTPOnMail(verifyOTP)" #verifyOTP="ngForm" novalidate autocomplete="off">

                        <ion-item mode="md" style="border-radius: 10px !important;border: 1px solid #ccc !important;margin-bottom: 10px !important;">
                            <!-- <ion-label mode="md" class="font-size-input tabButtonFont text-color-gray" position="floating">OTP </ion-label> -->
                            <ion-input mode="md" class="font-size-input textfont" autocomplete="off" type="number" placeholder="OTP" [(ngModel)]="validatePassword.otp" name="otp" #otp="ngModel" required></ion-input>
                            <ion-icon mode="md" name="chatbox-ellipses-outline" slot="start" class="inputIconCss"></ion-icon>
                        </ion-item>
                        <div class="error-container" *ngIf="verifyOTP.submitted && verifyOTP.form.controls.otp.status == 'INVALID'">
                            <p class="error" *ngIf="verifyOTP.form.controls.otp.errors.required">This field is required.</p>
                        </div>
                        <ion-item mode="md" style="border-radius: 10px !important;border: 1px solid #ccc !important;margin-bottom: 10px !important">
                            <!-- <ion-label mode="md" class="font-size-input tabButtonFont text-color-gray" position="floating">Password </ion-label> -->
                            <ion-input mode="md" class="font-size-input textfont" autocomplete="off" type="password" placeholder="Password" [(ngModel)]="validatePassword.password" name="password" #password="ngModel" required></ion-input>
                            <ion-icon mode="md" name="lock-closed-outline" slot="start" class="inputIconCss"></ion-icon>
                        </ion-item>
                        <div class="error-container" *ngIf="verifyOTP.submitted && verifyOTP.form.controls.password.status == 'INVALID'">
                            <p class="error" *ngIf="verifyOTP.form.controls.password.errors.required">This field is required.</p>
                        </div>
                        <ion-item mode="md" style="border-radius: 10px !important;border: 1px solid #ccc !important;margin-bottom: 10px !important">
                            <!-- <ion-label mode="md" class="font-size-input tabButtonFont text-color-gray" position="floating">Confirm Password </ion-label> -->
                            <ion-input mode="md" class="font-size-input textfont" autocomplete="off" type="password" placeholder="Confirm Password" [(ngModel)]="validatePassword.c_password" name="c_password" #c_password="ngModel" required></ion-input>
                            <ion-icon mode="md" name="lock-closed-outline" slot="start" class="inputIconCss"></ion-icon>
                        </ion-item>
                        <div class="error-container" *ngIf="verifyOTP.submitted && verifyOTP.form.controls.c_password.status == 'INVALID'">
                            <p class="error" *ngIf="verifyOTP.form.controls.c_password.errors.required">This field is required.</p>
                        </div>
                    </form>
                </div>
            </div>
            <div style="height: 15% !important;" class="div-center">
                <div id="outer">
                    <div id="inner">
                        <ion-item lines="none" detail="false">
                            <ion-button shape="round" fill="outline" class="btn-getstarted tabButtonFont font-size-button" (click)="verifyOTP.ngSubmit.emit()">
                                <ion-item class="itemBG" lines="none" detail="false">
                                    <ion-label class="tabButtonFont btn-label">
                                        Update Password
                                    </ion-label>
                                    <ion-icon name="arrow-forward-outline" style="font-size: 16px !important;color: #E9CD00 !important;" slot="end"></ion-icon>
                                </ion-item>
                            </ion-button>

                        </ion-item>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>