<ion-header>
    <ion-toolbar class="ionToolbar" mode="md">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon class="TabBarIcon" slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title style="padding: 0px !important;">
                <p class="margin10 text-color-black font-size1-heading lightFont" style="text-align: center !important;">Issue List</p>
            </ion-title>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>

            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p class="marginLeft p1 text-color-primary font-size-sub-heading headingFont pClose">
        Issue list by Severity {{filter_type}}
    </p>

    <div *ngIf="!is_list">
        <ion-list>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="is_list">
        <div>
            <div style="margin: 4px !important;">
                <ion-row>
                    <ion-col size="6" style="margin: 0px;padding: 0px;" *ngFor="let incident of incidentList let i=index" (click)="openInc_res(incident['id'],incident['status'],i)">
                        <ion-card style="margin: 5px !important;padding: 4px;height: 95%;">
                            <ion-card-content>
                                <div>
                                    <ion-label *ngIf="incident['severity']== 'High'" class="s_high font-size-input headingFont">{{incident['severity']}}</ion-label>
                                    <ion-label *ngIf="incident['severity']== 'Low'" class="s_low font-size-input headingFont">{{incident['severity']}}</ion-label>
                                    <ion-label *ngIf="incident['severity']=='Medium' " class="s_m font-size-input headingFont">{{incident['severity']}}</ion-label>
                                </div>
                                <div style="margin-top: 8px !important; ">
                                    <ion-label class="font-size-content lightFont " style="color:#929191 !important; ">Location</ion-label><br>
                                    <ion-label class="font-size-content lightFont text-color-black ">{{incident['area_name']}}</ion-label>
                                </div>
                                <div style="margin-top: 8px !important; ">
                                    <ion-label class="font-size-content lightFont " style="color:#929191 !important; ">Date & Time</ion-label><br>
                                    <ion-label class="font-size-content lightFont text-color-black ">{{getFormatedDate(incident['date_time'])}}</ion-label>
                                </div>
                                <div style="margin-top: 8px !important; ">
                                    <ion-label *ngIf="incident['status']=='open' " class="font-size-e-small lightFont text-color-black">{{incident['status'] | titlecase }} from last {{getDays(incident)}} days</ion-label>
                                    <ion-label *ngIf="incident['status']=='close' " class="font-size-e-small lightFont text-color-black">Issue closed</ion-label>
                                    <ion-label *ngIf="incident['status']=='in progress' || incident['status']=='in process' " class="font-size-e-small lightFont text-color-black">{{incident['status'] | titlecase }} from last {{getDays(incident)}} days</ion-label>
                                    <ion-label *ngIf="incident['status']=='review' " class="font-size-e-small lightFont text-color-black">{{incident['status'] | titlecase }} from last {{getDays(incident)}} days</ion-label>
                                </div>
                                <div style="text-align: end;margin-top: 16px; ">
                                    <ion-label *ngIf="incident['status']=='open' " class="statusOpen font-size-input lightFont ">{{incident['status'] | titlecase }}</ion-label>
                                    <ion-label *ngIf="incident['status']=='close' " class="statusClose font-size-input lightFont ">{{incident['status'] | titlecase }}</ion-label>
                                    <ion-label *ngIf="incident['status']=='in progress' || incident['status']=='in process' " class="statusINP_R font-size-input lightFont ">{{incident['status'] | titlecase }}</ion-label>
                                    <ion-label *ngIf="incident['status']=='review' " class="statusINP_R font-size-input lightFont ">{{incident['status'] | titlecase }}</ion-label>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>

            </div>
        </div>
    </div>
    <p *ngIf="isEnd" class="text-color-primary font-size-heading headingFont" style="text-align: center !important;margin-top: 50px !important;"> End Of List</p>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!--
    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="margin-bottom: 40px;outline: none !important;" [routerLink]="['/incident-details']">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>