<ion-header>
    <ion-toolbar class="ionToolbar" mode="md">

        <ion-buttons>
            <ion-button (click)="closeCheckList()">
                <ion-icon class="TabBarIcon" slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title style="padding-left: 0px;padding-right: 0px;">
                <p class="margin10 text-color-primary font-size1-heading headingFont" style="text-align: left !important;">{{titleStr}}</p>
            </ion-title>
        </ion-buttons>

        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="is_emplist">
        <ion-radio-group value="{{selected_id}}" (ionChange)="changeUser($event)">
            <ion-item *ngFor="let item of emplist let i=index ">
                <ion-label>{{item['emp_name']}}</ion-label>
                <ion-radio mode="md" slot="start" value="{{item['id']}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-list *ngIf="!is_emplist">
        <ion-radio-group value="{{selected_id}}" (ionChange)="changeCheckList($event)">
            <ion-item *ngFor="let item of emplist let i=index ">
                <ion-label class="lightFont font-size-heading">{{item['name']}}</ion-label>
                <ion-radio mode="md" slot="start" value="{{item['id']}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>