.TabBarIcon {
    width: 20px !important;
    height: 20px !important;
}

.ionToolbarTop {
    border-top: 1px solid #f1f1f1 !important;
}

.marginLeft {
    margin-left: 28px !important;
}

.calenderIcon {
    width: 56px !important;
    height: 56px !important;
}

.p1 {
    margin: 0px !important;
}

.cardCss1,
.item-inner {
    .input-wrapper {
        .label-md,
        .label-ios {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    border: 1px solid #dad9d9 !important;
    background: #F8F9F9 !important;
    border-radius: 2px;
    margin: 12px !important;
    padding: 4px !important;
}

.fullheight {
    height: 100%;
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerCss {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nextButton {
    width: 24px !important;
    height: 24px !important;
}

.bottomBar {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.container {
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
}

.box {
    width: 100px;
    height: 180px;
    margin: 10px;
    display: inline-block
}

.badge {
    position: relative;
    top: 9px !important;
    left: -15px !important;
    font-size: 10px !important;
    padding: 4px !important;
    border: 1px solid #EDD436 !important;
    border-radius: 50%;
    background: #EDD436 !important;
}

.notiIcon {
    width: 30px !important;
    height: 30px !important;
}